
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
margin:0;
background:#050816;
font-family:Arial,sans-serif;
}
html,
body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}